<p class="bold"> Documentos recuperados </p>
<section class="total">
    <p class="bold">Total</p>
    <p class="number bold">{{ listaDocsUf.total }}</p>
</section>

<section class="values column">
    <div class="row">
        <p>UF</p>
        <p>Palavra-chave mais relevante</p>
        <p>Total de docs recuperados</p>
    </div>

    @for(documento of listaDocsUf.listaDocumentos; track documento) {
    <div class="row">
        <p class="bold">{{ documento.uf }}</p>
        <p class="bold">{{ documento.palavraChave }}</p>
        <p class="bold highlight">{{ documento.total }}</p>
    </div>
    }
</section>