<div class="card documento-recuperado">
    <section>
        <p [ngClass]="documento.estado">{{ utility.getUfName(documento.estado) }}</p>
        @if (documento.relevante) {
        <i class="fa-solid fa-circle-check" matTooltip="Documento pode ser relevante"></i>
        }
    </section>
    <p class="nome-arquivo" [matTooltip]="documento.nomeArquivo">{{ documento.nomeArquivo }}</p>
    <span class="resumo" [matTooltip]="getResumo(documento.resumoArquivo)">
        {{ getResumo(documento.resumoArquivo) }}
    </span>
    <span class="data">
        Data da leitura: {{ formatarData(documento.dataArquivo) }}
    </span>
    <a [href]="documento.linkPagina" target="_blank">
        <button mat-flat-button>
            Acessar documento
        </button>
    </a>
</div>