<div class="documentos-recuperados-page" (window:scroll)="onScroll()">
    <div class="header-page">
        <app-breadcrumb [page]="'Documentos recuperados'"></app-breadcrumb>
        <button mat-stroked-button class="filtro mr-1" (click)="openDialog()"><i class="fa-solid fa-filter"></i>
            Filtrar</button>
    </div>

    <div class="row mr-1 mb-1">
        <section class="docs-carousel">
            @for(documento of documentosFiltrados; track documento) {
            <div class="document">
                <app-file-card [documento]="documento"></app-file-card>
            </div>
            }
        </section>
    </div>

    @if(documentosFiltrados.length == 0 && !loading) {
    <div class="container row">
        <div class="card column">
            <img src="./assets/images/icon-vazio.svg" height="100px" width="100px" alt="">
            <p class="bold">Não foram encontrados documentos</p>
        </div>
    </div>
    }
</div>