.documentos-recuperados-page {

    .container {
        justify-content: center;

        .card {
            width: 50%;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            color: #626E78;
        }
    }

    .row {
        width: 99%
    }

    .carousel {
        flex-wrap: wrap;
    }

    .docs-carousel {
        padding: 2px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        gap: 15px;

        .document {
            width: 18%;
        }
    }
}