<app-breadcrumb [page]="'Palavra-chave'"></app-breadcrumb>

<div>

  <div class="card">
    <section>
      <p>Instituição financeira</p>
      <img src="./assets/images/download-icon.svg">
    </section>
    <p>Resolução 217/22</p>
    <span>A instituição financeira seleciona uma empresa credenciada que realiza o registro de contrato pelo
      Detran.</span>
    <span class="data">
      Vigente desde: 1 de Janeiro de 2023
    </span>
    <button mat-stroked-button>Visualizar</button>
  </div>

</div>

<app-file-card></app-file-card>