.box {
    width: 100%;
    background: #fbfcfd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .container {
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        margin-top: 1rem;

        .lines {
            .dot {
                width: 10px;
                height: 10px;
                background: #99A1B7;
                border-radius: 7px;
            }

            .line {
                height: 94%;
                width: 1px;
                background: #99A1B7;
                margin-left: 5.3px;
            }
        }

        .cards {
            gap: 0;

            .card {
                width: 249px;
                background: #FFFFFF;
                border-radius: 10px;
                box-shadow: 8px 16px 27px -5px rgba(0, 0, 0, 0.09446);
                margin-bottom: 2rem;

                &.mid {
                    height: 71px;
                }

                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                    margin-bottom: 5px;
                    color: #626E78;
                }

                p {
                    padding: 3px 5px;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 700;
                    text-decoration: none;
                }

                .details {
                    margin-top: .3rem;
                }

                span {
                    font-size: 12px;
                    margin-right: 1rem;
                }

                i {
                    font-size: 12px;
                    color: #056ab0;
                    cursor: pointer;
                }
            }
        }
    }

    .info {
        background: rgba(22, 102, 174, 0.2);
        border-radius: 10px;
        padding: 1rem;
        color: #1666ae;
        flex-direction: column;
        display: flex;
        align-items: start;

        p {
            font-size: 13px;

            &.description {
                padding-left: 2rem;
            }
        }
    }
}