<app-breadcrumb [page]="'Regulatório'"></app-breadcrumb>

<div class="row mr-1 mb-1">
    <div class="card chart">
        <app-grafico-palavras-chave></app-grafico-palavras-chave>
    </div>

    <div class="card docs">
        <app-listagem-docs-uf></app-listagem-docs-uf>
    </div>

    <div class="card calendar">
        calendário
    </div>
</div>

<div class="arrow right" (click)="clickRightArrow()" matTooltip="Ver todos os documentos recuperados">
    <i class="fa-solid fa-angle-right"></i>
</div>

<div class="row mr-1 mb-1">
    <section class="docs-carousel">
        @for(documento of listaDocumentos; track documento) {
        <div class="document">
            <app-file-card [documento]="documento"></app-file-card>
        </div>
        }
    </section>

    <section class="card timeline">
        <p class="bold titulos mb-1"> Última edição lida </p>
        @for(update of groupedUpdates; track update) {
        <div class="marco"></div>
        <div class="dot"></div>
        <div class="update">
            <p class="data">
                {{ update.data }}
            </p>
            @for(uf of update.ufs; track uf) {
            <span>{{ uf }}</span><br>
            }
        </div>
        }
    </section>
</div>