<app-breadcrumb [page]="'Regulatório'"></app-breadcrumb>

<div class="row mr-1 mb-1">
    <div class="card chart">
        Gráfico
    </div>

    <div class="card docs">
        <p class="bold"> Documentos recuperados </p>
        <section class="total">
            <p class="bold">Total</p>
            <p class="number bold">6.110</p>
        </section>

        <section class="values column">
            <div class="row">
                <p>UF</p>
                <p>Registro de contrato</p>
                <p>Registro de garantia</p>
                <p>Instituição financeira</p>
                <p>Total</p>
            </div>

            <div class="row" *ngFor="let documento of listaDocumentosRecuperados">
                <p class="bold">{{ documento.uf }}</p>
                <p class="bold">{{ documento.numeroRegistroContrato }}</p>
                <p class="bold">{{ documento.numeroRegistroGarantia }}</p>
                <p class="bold">{{ documento.numeroInstituicaoFinanceira }}</p>
                <p class="bold highlight">{{ documento.total }}</p>
            </div>
        </section>
    </div>
</div>

<div class="arrow left" (click)="clickLeftArrow()" *ngIf="index > 0"><i class="fa-solid fa-angle-left"></i></div>
<div class="arrow right" (click)="clickRightArrow()" *ngIf="totalIndexes > index + 1"><i
        class="fa-solid fa-angle-right"></i></div>

<section class="docs-carousel">
    <!-- <div class="row" [ngStyle]="{ 'transform': 'translateX(-' + slidePositon + '%)' }"> -->
    <div class="row carousel" [ngStyle]="{'transform': 'translate(' + slidePositon + 'vw)'}">
        <div *ngFor="let documento of listaDocumentos" class="teste">
            <app-file-card [documento]="documento"></app-file-card>
        </div>
    </div>
</section>