<app-breadcrumb [page]="'Regulatório'"></app-breadcrumb>

<div class="row mr-1 mb-1">
    <div class="card chart">
        <app-grafico-palavras-chave></app-grafico-palavras-chave>
    </div>

    <div class="card docs">
        <app-listagem-docs-uf></app-listagem-docs-uf>
    </div>

    <div class="card teste">
        calendário
    </div>
</div>

<div class="arrow left" (click)="clickLeftArrow()" *ngIf="index > 0"><i class="fa-solid fa-angle-left"></i></div>
<div class="arrow right" (click)="clickRightArrow()" *ngIf="totalIndexes > index + 1"><i
        class="fa-solid fa-angle-right"></i></div>

<section class="docs-carousel">
    <!-- <div class="row" [ngStyle]="{ 'transform': 'translateX(-' + slidePositon + '%)' }"> -->
    <div class="row carousel" [ngStyle]="{'transform': 'translate(' + slidePositon + 'vw)'}">
        <div *ngFor="let documento of listaDocumentos" class="teste">
            <app-file-card [documento]="documento"></app-file-card>
        </div>
    </div>
</section>