<div class="keyword-dialog">
  <form [formGroup]="formKeyword">
    <p>Nova palavra-chave</p>
    <mat-form-field appearance="outline">
      <mat-label>Palavra-chave</mat-label>
      <input matInput placeholder="Digite a palavra-chave" formControlName="keyword">
    </mat-form-field>
    <div>
      <button mat-stroked-button [mat-dialog-close]="null">Cancelar</button>
      <button mat-flat-button [disabled]="formKeyword.invalid"
        [mat-dialog-close]="formKeyword.value.keyword">Adicionar</button>
    </div>
  </form>
</div>